<footer class="bg-light text-dark pt-4 mt-5 shadow-sm" id="footer">
  <div class="container">
    <div class="row">
      <!-- Brand & About -->
      <div class="col-md-4 d-flex align-items-center">
        <a
          href=""
          class="d-flex align-items-center text-decoration-none text-dark"
        >
          <img
            src="imgs/logo.png"
            alt="ShopLogo"
            class="rounded-circle me-2"
            width="70"
            height="70"
          />
          <span class="fw-bold">Turki Market</span>
        </a>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4">
        <h5 class="fw-bold">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="" class="text-dark text-decoration-none">Home</a></li>
          <li>
            <a routerLink="contact-us" class="text-dark text-decoration-none"
              >Contact Us</a
            >
          </li>
          <li><a routerLink="info" class="text-dark text-decoration-none">About</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-md-4">
        <h5 class="fw-bold">Follow Us</h5>
        <a class="text-dark me-3"><i class="bi bi-tiktok"></i></a>
        <a class="text-dark me-3"><i class="bi bi-instagram"></i></a>
        <a class="text-dark me-3"><i class="bi bi-twitter-x"></i></a>
        <a class="text-dark"><i class="bi bi-snapchat"></i></a>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center py-3 border-top mt-1">
      <p class="small mb-0">&copy; 2025 Turki Market. All Rights Reserved.</p>
    </div>
  </div>
</footer>
