<app-header></app-header>
<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0">Shopping Cart</h1>
                  </div>
                  <hr class="my-4" />

                  <div *ngFor="let product of cart$ | async; let i = index" class="row mb-4">
                    <div class="col-md-2">
                      <img [src]="product.image" class="img-fluid rounded-3" />
                    </div>
                    <div class="col-md-3">
                      <h6 class="text-muted">{{ product.category }}</h6>
                      <h6 class="mb-0">{{ product.title }}</h6>
                    </div>
                    <div class="col-md-3">
                      <h6 class="mb-0">{{ product.price }} SR</h6>
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-outline-danger btn-sm" (click)="removeItem(product.id)">
                        Remove
                      </button>
                    </div>
                  </div>

                  <hr class="my-4" />

                  <div class="pt-5">
                    <h6 class="mb-0">
                      <a routerLink="/" class="text-body"><i class="bi bi-arrow-left me-2"></i>Back to Shop</a>
                    </h6>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 bg-light">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Total Items: {{ (cart$ | async)?.length }}</h5>
                    <h5>{{ getTotalPrice(cart$ | async) }}</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Promo Code</h5>
                  <div class="mb-3 d-flex">
                    <input type="text" class="form-control form-control-md" [(ngModel)]="promoCode" placeholder="Enter promo code" />
                    <button type="button" class="btn btn-outline-dark btn-md ms-1" (click)="applyPromoCode()">
                      Apply
                    </button>
                  </div>

                  <p class="text-success" *ngIf="promoMessage" [ngClass]="{'text-danger': isInvalidPromo}">
                    {{ promoMessage }}
                  </p>

                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total Price</h5>
                    <h5>{{ getTotalPrice(cart$ | async) }}</h5>
                  </div>

                  <button type="button" class="btn btn-outline-success btn-lg me-1">
                    Checkout
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
